<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
h1   {
	background-color: #5A287D;
	color: white;
}
div.jumbotron {
	background-color: #5A287D;
	color: white;
}
a.btn-lg {
	background-color: #5A287D;
	color: white;
}
</style>
</head>
<body>

	<div class="parent container d-flex justify-content-center align-items-center h-100">
		<div class="jumbotron text-center">
			<h1>NatWest Banking Account Opening</h1>
		</div>


		<div class="row">
			<div class="col-sm-2 bg-success">Document Upload</div>
			<div class="col-sm-2 bg-success">&gt;&gt;</div>
			<div class="col-sm-2 bg-warning">Get Started</div>
			<div class="col-sm-2">&gt;&gt;</div>
			<div class="col-sm-2">Your Business</div>
		</div>
	
		<form action="#" th:object="${getStartedInfo}" method="post">
			<h2>A little about you</h2>
			<div class="form-group">
				<label for="firstName">Your name</label> 
				<div class=" form-inline">
					<input type="text" class="form-control" placeholder="First Name" id="firstName"  th:field="*{firstName}">
					<input type="text" class="form-control" placeholder="Middle Name" id="middleName" value="Sally">
					<input type="text" class="form-control" placeholder="Last Name" id="lastName"  th:field="*{lastName}">
				</div>
			</div>
			<div class="form-group">
				<label for="dateOfBirth">Date of Birth</label> 
				<input type="text" class="form-control" placeholder="DD/MM/YYYY" id="dateOfBirth"  th:field="*{dateOfBirth}">
			</div>
			<div class="form-group">
				<label for="email">Email</label> 
				<input type="text" class="form-control" placeholder="" id="email" value="peter@abc.com">
			</div>
			<div class="form-group">
				<label for="mobileNo">Mobile No.</label> 
				<input type="text" class="form-control" placeholder="" id="mobileNo"  th:field="*{mobileNumber}">
			</div>
			<div class="form-group">
				<label for="countryOfBirth">Country of Birth</label> 
				<input type="text" class="form-control" placeholder="" id="countryOfBirth"  th:field="*{countryOfBirth}">
			</div>
			<div class="form-group">
				<label for="townOfBirth">Town of Birth</label> 
				<input type="text" class="form-control" placeholder="" id="townOfBirth" value="London">
			</div>
			<div class="form-group">
				<label for="nationality">Nationality</label> 
				<input type="text" class="form-control" placeholder="" id="nationality"  th:field="*{nationality}">
			</div>
			<div class="form-group">
				<label for="homeAddr">Home Address</label> 
				<input type="text" class="form-control" placeholder="Address Line 1" id="homeAddr1"  th:field="*{address}">
				<input type="text" class="form-control" placeholder="Address Line 2" id="homeAddr2" value="Kingston">
				<input type="text" class="form-control" placeholder="Address Line 3" id="homeAddr3" value="London">
				<input type="text" class="form-control" placeholder="Address Line 4" id="homeAddr4" value="England">
				<input type="text" class="form-control" placeholder="Post Code" id="postCode" value="TW14 8AJ">
			</div>
			<div class="form-group">
				<label for="moveIn">Move into since</label> 
				<input type="text" class="form-control" placeholder="DD/MM/YYYY" id="moveIn" >
			</div>
			<!-- 
			<button type="submit" class="btn btn-default">Back</button>
			<button type="submit" class="btn btn-default">Next</button>
			 -->
		</form>
	</div>


	<div class="container text-center">
	<!-- 
		<p>Ready to upload document?</p>

		<a href="/onboarding/documentUpload" class="btn btn-default">Upload</a>
		<a href="/onboarding/getStarted" class="btn btn-default">Skip</a
 -->
 <!-- 
			<a href="/onboarding/documentUpload" class="btn btn-default">Back</a>
			 -->
			<a href="/onboarding/yourBusiness" class="btn btn-default btn-lg">Next</a>
	</div>
	
	<div class="container text-center">
	&nbsp;
	</div>

</body>
</html>
