<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
h1   {
	background-color: #5A287D;
	color: white;
}
div.jumbotron {
	background-color: #5A287D;
	color: white;
}
button.btn-lg {
	background-color: #5A287D;
	color: white;
}
</style>
</head>
<body>
	<div class="parent container d-flex justify-content-center align-items-center h-100">

		<div class="jumbotron text-center">
			<h1>NatWest Banking Account Opening</h1>
		</div>
	
		<form action="#" th:action="@{/onboarding/welcome}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="email">Email address:</label> 
				<input type="email"	class="form-control" id="email" th:field="*{email}">
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label> 
				<input type="password" class="form-control" id="pwd" th:field="*{pwd}">
			</div>
			<button type="submit" class="btn btn-default btn-lg">Submit</button>
		</form>
		
	</div>
</body>
</html>
